@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(#DB7093 50%,#87CEEB 50%);

}

.wrapper
{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
}
.wrapper h2
{
    color:#87CEEB;
    font-size:46px;
}

.logos
{
   margin-left: 15px;
}

.logos img{
    margin:0 7px;
    opacity: 0.3;
    transition: opacity 0.5s ease;
}

.logos img:last-child
{
    margin-right: 0px;
}